<!DOCTYPE html>
<html>
  <head>
    <title>Angular QuickStart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">

    <!-- Polyfill(s) for older browsers -->
    <script src="node_modules/core-js/client/shim.min.js"></script>

    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>

    <script src="systemjs.config.js"></script>
    <script>
      System.import('./Scripts/main').catch(function(err){ console.error(err); });
    </script>
  </head>

  <body>
    <!-- 
    CODE BLOCK EXPLANATION - 7
    The Router uses the browser's history.pushState for navigation.
    Modern HTML 5 browsers were the first to support pushState which is why many people 
    refer to these URLs as "HTML 5 style" URLs. We must add a `<base href>` element tag to the 
    `index.html` to make pushState routing work. 
    --> 
    <base href="/">
    <my-app>Loading from ejs...</my-app>
  </body>
</html>
